*{
    box-sizing: border-box;
}

body, button{
    font-family: 'Press Start 2P', cursive;
}

body{
    text-align: center;
    background-color: #011F3F;
    margin:0;
    padding:0;
    color: #FEF2BF;
}


button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    border: 3px solid black;
}

button:focus{
    outline: none;
}

button:hover{
    background-color: rgb(156, 151, 151)
}

input{
    margin: 15px 0;
}

input, 
label, 
button{
    cursor: pointer;
}

.contenedor-jugadores img{
    height:279px;
    width: 329px;
}

.formulario-area{
    width:200px;
    text-align: left;
    margin: 30px auto;
}

.header{
    margin-top: 50px;
}

.computador,
.jugador{
    display: inline-block;
    width: 49%;
}

.contenedor-jugadores{
    margin-top: 80px;
}

#jugadaJugador,
#jugadaPC{
    text-transform: capitalize;
}

.game-over {
    background-color: red;
    opacity: 0.8;
  }


